body{
    background-image: url("./POKEDEX_FONDo.png");
    background-repeat: no-repeat;
    background-size: 840px;
    background-position-x: 225px;
    background-position-y: 1px;

    background-color: rgba(148, 236, 192, 0.993);
}

.fondo{
    position: absolute;
    top: 0px;
    left: 900px;
}
.POK{
    position: absolute;
    top: 198px;
    left: 353px;
}

button{
    position: absolute;
    top: 540px;
    left: 355px;
    background-color: rgba(165, 42, 42, 0);
    border: rgba(165, 42, 42, 0) ;
    
}

button:hover{
    background-color: rgba(165, 42, 42, 0);
}

.POKNAME{
    position: absolute;
    top: 510px;
    left: 331px;
}
.POKNAME:hover{
    background-color: rgba(165, 42, 42, 0);
}